/* BACKGROUND */
header {
	position: absolute;
	padding-top: 60px;
	padding-left: 100px;
	margin-top: -400px;
	margin-left: -200px;
}

body {
	background-color: #BCC7AD;
	display: flex;
	flex-direction: row;
	position: relative;
	padding-left: 300px;
	padding-top: 400px;
}

/*TITLES*/
.projectname{
	color: #464A40;
	font-size: 90px;
	font-family: 'Rozha One', serif;
}
.description{
	color: #FFFFFF;
	font-size: 55px;
	font-family: 'Rozha One', serif;
}
.image{
	width: 80%;
	height: 90%;
}